@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #A2B13A;
    --body: #596C70;
    --header: #7B7B7B;
    --sub-header: #3B3B3B;
    --hover: #a2b90d;
    --highlight: #8D9D11;
    --white-mute: #C6C6C6;
    --pure-white: white;
    --pure-black: #000000;
    --header-size: 2.8rem;
    --service: #8A8A8A;
    --default-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    --contact: #F3FAC5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

li {
    list-style: none;
}

.nav {
    color: var(--white-mute);
    cursor: pointer;
}

.nav:hover {
    color: var(--hover);
}

.nav-logo {
    height: 68px;
    cursor: pointer;
}

.cta-primary {
    height: 68px;
    width: fit-content;
    padding: 0 24px;
    font-weight: 700;
    color: var(--pure-white);
    background-color: var(--primary);
    border: 0;
    justify-self: flex-end;
    align-self: center;
}

.cta-primary:hover {
    background-color: var(--hover);
}

.navigation {
    top: 24px;
    margin: 0 10%;
    position: absolute;
    background: transparent;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: 600;
}

.navigation>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sctn {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/images/background.png');
    background-color: rgba(0, 0, 0, 0.86);
    background-blend-mode: overlay;
    gap: 12px;
}

.home-sctn>h1 {
    font-size: var(--header-size);
    font-weight: 800;
    color: var(--white-mute);
    text-align: center;
}

.home-sctn>p {
    color: var(--white-mute);
    text-align: center;
    max-width: 36rem;
    margin-bottom: 16px;
}

.home-sctn>h1>span {
    border: 4px solid var(--primary);
    padding: 0 12px;
}

.about-sctn {
    height: fit-content;
    padding: 0 56px;
}

.intro {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 56px;
    gap: 60px;
}

.mission {
    position: relative;
    top: -68px;
    height: 96%;
    max-height: 20rem;
    width: auto;
}

.intro-text {
    margin-top: 32px;
}

.subtitle {
    font-size: small;
    font-weight: 600;
    color: var(--highlight);
}

.intro-subtitle {
    margin-bottom: 12px;
}

.intro-subheadline {
    margin-bottom: 12px;
}

.mission-text {
    margin-bottom: 24px;
    color: var(--body);
}

.learn {
    border: 2px solid var(--primary);
    color: var(--highlight);
    background-color: transparent;
    padding: 12px 24px;
    font-weight: 600;
}

.learn:hover {
    border: 2px solid var(--hover);
    background-color: var(--hover);
    color: var(--pure-white);
    cursor: pointer;
}

.how {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 32px 56px;
    box-shadow: var(--default-shadow);
}

.headline {
    color: var(--header);
    font-size: var(--header-size);
}

.how-head {
    grid-column: span 4;
}

.step-1 {
    grid-column: span 4;
}

.step-2 {
    grid-column: span 4;
}

.step-3 {
    grid-column: span 4;
}

.how-footer {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.how-footer>p {
    width: fit-content;
    color: var(--pure-black);
    font-weight: 500;
}

.step {
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    grid-template-columns: 0.4fr repeat(3, 1fr);
    margin-top: 24px;
}

.step-image {
    height: 80px;
    width: auto;
    grid-row: span 2;
    grid-column: span 1;
}

.step-headline {
    grid-row: span 1;
    grid-column: span 3;
    font-weight: 600;
    color: var(--sub-header);
}

.step-text {
    grid-row: span 2;
    grid-column: span 3;
    color: var(--sub-header);
}

.headline {
    margin-top: 60px;
}

.services-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 60px;
    gap: 40px;
}

.service {
    border: 2px solid var(--service);
    color: var(--service);
    background-color: transparent;
    padding: 12px 24px;
    font-weight: 700;
}

.service:hover {
    border-color: var(--header);
    background-color: var(--header);
    color: var(--pure-white);
    cursor: pointer;
}

.service:nth-child(1) {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--pure-white);
}

.service:nth-child(1):hover {
    border-color: var(--hover);
    background-color: var(--hover);
    cursor: default;
}

.services-cards {
    display: flex;
    flex-direction: column;
}

.service-card {
    display: none;
    flex-direction: row;
    box-shadow: var(--default-shadow);
}

.service-card:nth-child(1) {
    display: flex;
}

.services-images {
    display: flex;
    flex-direction: row;
    left: 400px;
}

.service-img {
    height: 14.8rem;
    width: 14.8rem;
}

.arrow-right {
    position: relative;
    height: 14.8rem;
    z-index: 20;
    left: -27px;
}

.arrow-right-2 {
    position: relative;
    left: -56px;
    height: 14.8rem;
    z-index: 20;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 48px;
}

.service-headline {
    margin-bottom: 8px;
}

.service-desc {
    margin-bottom: 8px;
}

.service-sub {
    margin-bottom: 8px;
}

.available {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.list-item {
    display: flex;
    align-items: center;
}

.check {
    height: 20px;
    padding-right: 12px;
}

.sponsor {
    height: 120px;
    width: auto;
}

.sponsors-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow: hidden;
    margin-bottom: 80px;
}

.sponsor-subheadline {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 60px 0;
}

.achievements {
    height: 26rem;
    background-image: url('assets/images/achievements.png');
    background-size: contain;
    z-index: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.4rem;
}

.achieve-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pay {
    margin-top: 0;
    margin-bottom: 16px;
}

.achievement-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0 56px;
}

.achievement-card {
    background-color: var(--pure-white);
    flex: 1;
    padding: 28px;
}

.achievement-card>p {
    color: var(--sub-header);
}

.achievement-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
}

.inv {
    gap: 24px;
}

.actions-sctn {
    padding: 0 56px;
    padding-bottom: 40px;
}

.mol {
    margin-bottom: 40px;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}

.action {
    height: 18rem;
    width: auto;
}

.action:hover {
    position: relative;
    box-shadow: -16px 16px 0 0 var(--primary);
    left: 12px;
    top: -8px;
}

.contact-sctn {
    width: 100%;
    background-color: var(--contact);
}